.profile_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    margin-left: 2rem;
}

.profile_form {
    display: flex;
    justify-content: space-around;
}
.profile_picture {
    max-width: 250px;
    margin-left: 9rem;
    margin-top: 4rem;
    margin-right: -5rem;
}

.container_p {
    display: flex;
}
.profile_message_error{
    text-align: center;
    color: red;
}
.profile_message_success{
    text-align: center;
    color:green;
}

.input_box {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_form > input {
    margin-left: 2rem;
}

.profile_form > label {
    display: flex;
    align-items: start;
}
.button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#picture {
    background-color: transparent;
}

/* ViewProfilPArticipant*/

.container {
    display: flex;
}

.hate_css {
    display: flex;
    flex-direction: column;
    margin: auto;
}