.detail_title {
    text-align: center;
}
.detail_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile_message_error{
    text-align: center;
    color: red;
}

.profile_message_success{
    text-align: center;
    color:green;
    font-size: 1.2rem;
}
.descrip {
    white-space: normal;
    max-width: 300px;
    padding-left: 1rem;
}
.detail_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.detail_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.detail_box span {
    font-weight: bold;
}
.button_box_detail {
    margin-right: 20rem;
}

.detail_form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.part-table {
    width: 25rem;
    margin-top: 1rem;
    border: 1px solid black;
    height: 10rem;
    overflow: scroll;
}

.part-table td{
    border: 1px solid black;
    padding-left: 1rem;
    height: 1.1rem;
}
.part-table th{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1.1rem;
}

.th-pseudo {
    width: 30%;
}
.part-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
}
.label-list{
    width: 90%;
    text-align: left;
}

.tab-container {
    padding-left: 3rem;
    height: 12rem;
    overflow: scroll;
}
