.container {
    display: flex;
    justify-content: center;
}

.login {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inline-form {
    display: flex;
    justify-content: space-between;
}

.inline-form input {
    margin-bottom: 1rem;
}

.inline {
    display: flex;
    flex-direction: row;
}