/* --------- TRIP_VIEW -------- */

#trip-view {
    margin : 12px;
}

#trip-view-info {
    display: block;
    float: right;
    margin-right: 20px;
}

#trip-view > a > button {
    margin-left: 2rem;
    margin-top: 2rem;
    white-space: nowrap;
    width: auto;
}


#trip-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#trip-filters > div > div {
    margin: 5px;
}
.col1{
    margin-left: 2rem;
}
.filters-title {
    margin-left: 2.5rem;
}
#trip-filters > button {
    margin-left: 30px;
    width: 240px;
}

#trip-list {
    margin-bottom: 12px;
    margin-top: 12px;
    width: 100%;
    font-size: 0.8rem;

}
#trip-list table {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.test {
    overflow-y: scroll;
    height: 300px;
}

#trip-list >  table > thead > tr > th {
    border: solid 1px black;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

#trip-list >  table > tbody > tr >td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin: 0;
}